name: Docker Image CI

on: push

jobs:
  php74:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: benjlevesque/short-sha@v1.2
      id: short-sha
      with:
        length: 6

    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2

    -
      name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build the Docker image
      run: ./build/build-7.4.sh
      env:
        SHA: ${{ steps.short-sha.outputs.sha }}
        BRANCH: ${{ steps.extract_branch.outputs.branch }}


  php80:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: benjlevesque/short-sha@v1.2
      id: short-sha
      with:
        length: 6

    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2

    -
      name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build the Docker image
      run: ./build/build-8.0.sh
      env:
        SHA: ${{ steps.short-sha.outputs.sha }}
        BRANCH: ${{ steps.extract_branch.outputs.branch }}


  php81:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: benjlevesque/short-sha@v1.2
      id: short-sha
      with:
        length: 6

    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch

    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v2

    -
      name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build the Docker image
      run: ./build/build-8.1.sh
      env:
        SHA: ${{ steps.short-sha.outputs.sha }}
        BRANCH: ${{ steps.extract_branch.outputs.branch }}
